.todoList {
    padding: 4px 0px 0px 6px;
    font-size: 16px;
}

.doneTodoItem {
    color: #959ea8;
    text-decoration: line-through;
}

.noItems {
    display: grid;
    font-size: 16px;
    color: #737273;
    padding: 15px 0px 15px 0px;
    justify-content: center;
}