.today {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.final {
    color: white;
    font-size: 30px;
    text-align: center;
    width: 600px;
    word-wrap: break-word;
}