.questionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    display: grid;
    justify-content: center;
    font-size: 50px;
    color: white;
    bottom: 20px;
}

.inputName {
    border: none;
    outline:none;
    background-color: transparent;
    border-bottom: white 2px solid;
    text-align: center;
    color: white;
    width: 400px;
    font-size: 40px;
}

.formAnswer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 840px;
}

.limit {
    font-size: 24px;
    color: red;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}